.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }
    .admin-content{
        width:100%;
        .admin-header{
            height:40px;
            
        }
        .admin-main{
            .user-pagination{
                display: flex;
                justify-content: center;
            }
        }
    }
}
.Toastify__toast {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 14px;
}

.Toastify__toast-body {
  margin: 0;
  padding: 0;
}